
@{
    ViewBag.Title = "LostPassword";
}

<h2>Gleymt notendanafn eða lykilorð?</h2>
<p>Skrifaðu tölvupóstfangið sem þú notaðir við nýskráningu hérna í kassann fyrir neðann og ýttu á senda.
    Við munum síðan senda þér tölvupóst innan skamms með notendanafninu og nýju lykilorði. Athugaðu að það getur tekið
    nokkrar mínutur fyrir tölvupóstinn að berast og að hann gæti farið í ruslpóstamöppuna þína</p>

<div class="form-group">
    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" class="btn btn-default" value="Senda" />
    </div>
</div>

