#menu-top {
    margin-bottom: 2px;
}

h1 {
	display: inline;
}

a h1 {
	position: absolute;
	padding-left: 20px;
	font-family: Tahoma;
}

.row {
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	padding: 10px 0px 10px 0px;
	margin-top: 20px;
}

.logotext {
	color: #00558B;
}

a.logotext:hover {
	text-decoration: none;
	color: #00558B;
}

.logoimg {
	height: 74px;
	width: 70px;
	border-radius: 47px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.ContactUsEmail{
    float: left; 
}

.aboutPhoto{
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
}