html,
body {
	margin:0;
	padding:0;
	height:100%;
}

.wrapper {
	min-height: 100%;
	height: 100%;
}

.body-content {
	height: auto;
	padding:10px;
	padding-bottom:20px;   /* Height of the footer element */
    position: relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#push {
	height: auto; /* .push must be the same height as .footer */
}

footer {
	clear: both;
	bottom:0;
	left:0;
    right: 0;
    margin-bottom: 7px;
    margin-left: 50px;
    margin-right: 50px;
    border-top: 2px solid #f5f5f5;
    padding-top: 10px;
}

#menu-top {
    margin-bottom: 2px;
}

h1 {
	display: inline;
}

a h1 {
	position: absolute;
	padding-left: 20px;
	font-family: Tahoma;
}

.col-md-10 {
	text-align: left;
}

.row {
	border-bottom: 1px solid #eeeeee;
	border-top: 1px solid #eeeeee;
	padding: 10px 0px 10px 0px;
	margin: 20px 0px 0px 5px;
}

#homePageTable-1 {
	border-collapse: collapse;
	margin-right: 250px;
     float:right;
     max-width:50%
}

#homePageTable-2 {
	border-collapse: collapse;
	margin-left: 250px;
      float:left;
     max-width:50%
}

.homePageTableRows td{
	padding: 5px 0px 5px 0px;
}

th {
	color: #00558B;
	font-size: 20px;
}

.lostPassword {
	margin-top: 10px;
}

.lostPasswordText {
	margin-right: 500px;
	margin-bottom: 50px;
}

.form-group {
	padding: 0px;
	margin: 10px 0px 0px 0px;
	text-align: left;
    padding-left: 20px;
}

#loginForm {
    margin-left: -20px;
}

.login {
	margin: 0px;
	padding: 0px 0px 40px 0px;
	display: inline;
}

.loginButton {
	margin-left: 140px;
	display: inline;
}

.rememberMe {
	margin-left: 150px;
	margin-top: 10px;
}

.lostPW {
	margin-right: 60px;
}

.leftheader {
	padding-left: 75px;
}

.logotext {
	color: #00558B;
}

a.logotext:hover {
	text-decoration: none;
	color: #00558B;
}

.logoimg {
	height: 80px;
	width: 80px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.ContactUsEmail{
    float: left; 
}

.aboutPhoto{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.aboutAbout{
    padding-left: 20px;
    padding-right: 20px;
}
.right {
	float: right;
}

.crumbs {
    list-style-type: none;
    padding: 5px 5px 5px 5px;
}

.crumbs li{
    display: inline;
}

.crumbs li a{
    color: #00558B;
}
.crumb-seperator{
    color: #00558B;
    font-weight: bold;
}

.breadcrumb{
    padding-left:0px;
    border-left: 0px;
}

#RequestTable {
	width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#addRequestButton {
	background-image: url("addRequests.jpg");
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	border-radius: 50px;
	float: right;
	margin-right: 150px;
}

#requestLink {
	float: right;
	margin-right: -130px;
}

.requestTableDiv {
    margin-top: 30px;
    max-width: 80%;
    margin-left: 80px;
}

.requestRow td {
	padding: 10px 0px 5px 0px;
}

.NewRequestForm {
	font-weight: bold;
}
.newRequestButton {
    float: right;
    display: -webkit-box;
    position: relative;
    top: -83px;
    right: -116px;
}
.addRequestLine{
    position: relative;
    right: 150px;
    top: 5px;
}
.newTranslationButton {
    float: right;
	margin-bottom: 20px;
}

.addTranslationText {
	margin: 0px 10px 0px 0px;
}

.addRequestText {
	margin: 0px 10px 0px 0px;
}

.alphabetizedTextDiv {
    margin-top: 30px;
    max-width: 80%;
    margin-left: 80px;
    clear: both;
}
.addTranslationButton{
    float: right;
    display: -webkit-box;
    position: relative;
    top: -83px;
    right: -116px;
}
.addTranslationLine{

}
#AlphabetListTable {
	width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.categoriesPhoto {
    display: block;
    float: left;
    margin: 20px;
}

.categoriesPhoto img {
	height: 150px;
	width: 266px;
}

.categoriesPhoto a {
    display: block;
    text-align: center;
}
.categoryName {
    font-size:16px;
}

#editTranslationButton {
	background-image: url(pencil.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position-y: center;
	width: 130px;
	padding-left: 25px;
	float: left;
	clear: both;
	margin: 10px 0px 0px 0px;
}

#editDetailsButton {
	background-image: url(pencil.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position-y: center;
	width: 130px;
	padding-left: 25px;
	float: left;
	clear: both;
	margin: 10px 0px 0px 0px;
}
#detailsPreview {

}

#downloadTranslationButton {
	background-image: url(download.png);
	background-repeat: no-repeat;
	background-size: 21px 21px;
	background-position-y: center;
	width: 160px;
	padding-left: 25px;
	float: left;
	margin: 0px;
}

.dl-horizontal dt {
	text-align: left;
}

.dl-horizontal dd {
    margin: 0px;
    text-align: left;
}

.description {
    width: 380px;
    display: block;
    text-align: left;
    padding-left: 100px;
}
.description-headder{
    display: block;
}

#saveEditDescriptionButton {
	margin-left: 98px;
}

.loginout
{
    font-size: 17px;
}

#SearchString{
	max-width: 636px;
    width: 57%;
    height: 34px;
    border-color: #eeeeee;
    border-radius: 4px;
    padding-left: 5px;
    margin-left: 155px;
}
.textBox
{
    width: 700px;
    margin: auto;
	height: 32px;
}
#searchButton
{
	margin: 0px 0px 4px 20px;
}
#welcome
{
    text-align:center;
    border-bottom: 1px solid #eeeeee;
    margin: auto;
	color: #00558B;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 30px;
	padding-bottom: 25px;
}

#parentTimeDiv {
    float: left;
}

#item_endTime {
	clear: both;
}

#newTime, #oldTime {
	padding: 0px;
}

.newSubtitle{
	margin: 0px;
	padding: 0px;
    position: relative;
    top: -18px;
    left: -1px;
}
.oldSubtitle {
    margin: 0px;
	padding: 0px;
}
.newChapter{
    margin: -4px;
    padding: 2px;
    left: 2px;
    position: relative;
    top: 38px;
}
.oldChapter {
	margin: -1px;
    padding: 2px;
}

.timeLabels {
	position: relative;
    top: 15px;
    left: 171px;
}
.newStartTime{
    left: -1px;
    top: 39px;
    padding: 0;
    position: relative;
}
.newEndTime
{
    top: -52px;
    right: -55px;
    padding: 0;
    float: right;
    position: relative;
}
.pageCount a {
	margin-right: 15px;
}
#editTranslationPageCount {
    clear: both;
    float: left;
}
.detailPhoto img{
    max-height: 450px;
    max-width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -70px;   
}
/*css for edittranslation*/

.timeStamps {
    display: inline;
    margin: 0px;
	padding: 0px;
}

.timeStamps p {
    width: 30px;
}
.chapterLabel{
    position: relative;
    top: 40px;
}
.subtitleTextLabel{
    position: relative;
    top: -44px;
}
.startTimeLabel{
    position: relative;
    top: 40px;
}
.endTimeLabel{
    position: relative;
    top: -52px;
    right: -156px;
}
.timeLabel{
    position: relative;
    top: 7px;
    left: 130px;
}
.startTimeTextBox{
    position: relative;
    top: 32px;
    display: block;
    width: 115px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.endTimeTextBox{
    position: relative;
    top: -61px;
    right: -155px;
    display: block;
    width: 115px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.chapterTextBox{
    position: relative;
    top: 32px;
    display: block;
    width: 60px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.subtitleTextBox{
    position: relative;
    top: -52px;
    display: block;
    width: 280px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.oldChapterTextBox{
    position: relative;
    left: -1px;
    top: -4px;
    display: block;
    width: 60px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.oldEndTimeTextBox{
    position: relative;
    top: -98px;
    float: right;
    left: -230px;
    display: block;
    width: 115px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.oldStartTimeTextBox{
    position: relative;
    left: 0px;
    top: -5px;
    display: block;
    width: 115px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.oldSubtitleTextBox{
    position: relative;
    top: -55px;
    width: 280px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.oldChapterLabel{
    position: relative;
    top: 4px;
}
.oldStartTimeLabel{
    position: relative;
    top: 4px;
}
.oldEndTimeLabel{
    position: relative;
    top: -89px;
    left: 156px;
}
.oldSubtitleLabel{
    position: relative;
    top: -46px;
}
.oldTimeLabel{
    position: relative;
    top: -30px;
    right: -130px;
}
#TextToEdit {
    float: left;
    max-width: 350px;
}

#OldText {
    float: right;
    width: 500px;
    margin: 32px;
}

#TextToEdit form a {
    float: left;
    clear: left;
}
.mainContent{
    margin-top: 20px;
    margin-right:500px;
}
.commentName{
     display: inline; 
     font-size: larger;
}
.commentDate{
    display: inline; 
    position: relative; 
	float: right;
}
.largerFont{
    font-size: larger;
}
.initialFont{
    font-size: initial;
}
.fullyTranslateCheckbox{
    margin-Top: 20px;
    clear:left;
}
.editLines{
    float: left;
}
.translateDropDown{
    position: relative;
    right: 214px;
}
#stillingarIs_turnUserstylesOnButton{
    position: relative;
    top: -80px;
    float: right;
    right: 30px;
}
.glyphicon-position{
    left: 35px
}
.Errors{
    text-align: center;
}
.contactText{
    padding-right: 487px;
}