
@{
    ViewBag.Title = "AlphabetizedTexts";
}

<h2>Textar A-Ö</h2>
<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            <a href="/">SÍÁT</a>
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="#">Textar A-Ö</a>
        </li>
    </ul>
</div>

