@{
    ViewBag.Title = "About";
}
<div class="breadcrumb">
    <ul class="crumbs" >
        <li class="crumb crumb-first">
            <a href="/">SÍÁT</a>
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="#">Um okkur</a>
        </li>
    </ul>
</div>
<h2>Samband Íslenskra Áhugamanna um Texta</h2>

<p>Samband íslenskra áhugamanna um texta(SÍÁT) er nafn vinnuhóps í verklegu námskeiði
    tölvunarfræði á 2. önn í Háskóla Reykjavíkur. Hópurinn fékk það verk að búa til vefsíðu sem að
    gerði notanda kleift að hlaða inn .srt skrá og þýða hana yfir á önnur tungumál. Hver
    sem er getur sótt texta til að setja inná myndefni. 
    Vinnuhóp SÍÁT skipa Erla Harðardóttir, Fanney Hrund Jónasdóttir, Grímur Kristinsson, 
    Liljar Már Þorbjörnsson, Steinunn Marta Friðriksdóttir og Svava Dögg Björgvinsdóttir.</p>
<div class="aboutPhoto">
    <img src="@Url.Content("~/Content/workaboutpicjpg.jpg")" alt="Vinnuhopur SíáT" class="aboutPhoto" />
    <p class="aboutPhoto">Falleg mynd af okkur</p>
</div>