@{
    ViewBag.Title = "About";
}
<h2>Samband íslenskra áhugamanna um Texta</h2>
<h3>@ViewBag.Message</h3>

<p>Samband íslenskra áhugamanna um Texta(SíáT) er nafn vinnuhóps í kringum verklegt námskeiðs í
    tölvunnarfræði á 2. önn í Háskóla Reykjavíkur. Fengum við það verk að búa til vefsíðu sem að
    gerði notanda kleift að hlaða inn .srt skrá og þýða hana yfir á önnur tungumál. Síðan getur hver
    sem er komið og sótt texta til að setja inná myndefni. 
    Vinnuhópur SíáT skipar Erlu Harðardóttir, Fanney Hrund Jónasardóttir, Grím Kristinsson, 
    Liljar Má Þorbjörnsson, Steinunni Mörtu Friðriksdóttir og Svövu Dögg Björgvinsdóttir</p>
<img src="groupPhoto.jpg" alt="Vinnuhópur SíáT" />
<p>Falleg mynd af okkur</p>