@{
    ViewBag.Title = "Hafa samband";
}
<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            @Html.ActionLink("SÍÁR", "Index", "Home")
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            @Html.ActionLink("Hafa samband", "Contact", "Home")
        </li>
    </ul>
</div>
<h2>@ViewBag.Title</h2>
@*Liljar Már*@
<p class="contactText">
    Síðan SÍÁT er verkefni nemanda við Háskólann í Reykjavík. Höfuðstöðvar síðunnar eru innan veggja
    skólans og því aðeins hægt að hafa samband við umsjónarmenn vefsíðunnar í gegnum
    fyrirspurnarform hér að neðan.
</p>

<form class="form-control-static" method="post" action="ProcessRequest">
    <div>
        <div>
        <label>Nafn</label>
            <input type="text" name="userName" class="form-control" />
        <label>Tölvupóstfang</label>
            <input type="text" name="userEmail" class="form-control" />
        <label>Fyrirspurn</label>
            <textarea class="form-control" name="userRequest" cols="45" rows="4"></textarea>
    </div>
    </div>
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Senda" />
    </div>
</form>