@{
    ViewBag.Title = "Hafa samband";
}
<h2>@ViewBag.Title</h2>


<p>
    Síðan SíáT er verkefni nemanda við Háskólann í Reykjavík. Höfuðstöðvar síðunnar eru því innan veggja skólans en símanúmer ekkert. Hægt er að hafa samband við umsjónarmenn í gegnum tölvupóstsform hér að neðan. 
</p>
@* Fanney og Steinunn *@
<form class="form-control-static">
    <div>
         <span class="form-inline">
          <label>Nafn</label>
          <input type="text" class="form-control" />
          <label>Tölvupóstfang</label>
          <input type="text" class="form-control" />
         </span>
         <div>
           <label>Fyrirsögn</label>
           <input type="text" class="form-control" />
           <label>Fyrirspurn</label>
             <textarea class="form-group" rows="10" cols="60"></textarea>
         </div>
         <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Senda" />
         </div>
    </div>
</form>