@{
    ViewBag.Title = "Hafa samband";
}
<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            @Html.ActionLink("SÍÁR", "Index", "Home")
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            @Html.ActionLink("Hafa samband", "Contact", "Home")
        </li>
    </ul>
</div>
<h2>@ViewBag.Title</h2>

@*<p>
    Síðan SÍÁT er verkefni nemanda við Háskólann í Reykjavík. Höfuðstöðvar síðunnar eru innan veggja
    skólans og því aðeins hægt að hafa samband við umsjónarmenn vefsíðunnar í gegnum
    fyrirspurnarform hér að neðan.
</p>
@* Fanney og Steinunn 
<form class="form-control-static">
    <div>
        <div>
            <label>Nafn</label>
            <input type="text" class="form-control" />
            <label>Tölvupóstfang</label>
            <input type="text" class="form-control" />
            <label>Fyrirsögn</label>
            <input type="text" class="form-control" />
            <label>Fyrirspurn</label>
            <textarea class="form-control" rows="10" cols="60"></textarea>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Senda" />
        </div>
    </div>
</form>*@
<form method="post" action="ProcessRequest">
    <div>
        Your name:
        <input type="text" name="customerName" />
    </div>

    <div>
        Your email address:
        <input type="text" name="customerEmail" />
    </div>

    <div>
        Details about your problem: <br />
        <textarea name="customerRequest" cols="45" rows="4"></textarea>
    </div>

    <div>
        <input type="submit" value="Submit" />
    </div>
</form>