
@{
    ViewBag.Title = "Algengar spurningar";
}

<h2>@ViewBag.Title</h2>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/dark-hive/jquery-ui.css" />

    <div id="accordion">
        <h3>Hvernig set ég inn skrá til þess að þýða?</h3>
        <div>
            <p>prumpar</p>
        </div>
        <h3>Hvernig bý ég til nýjan aðgang?</h3>
        <div>
            <p>prumpar</p>
        </div>
        <h3>Hvernig óska ég eftir texta</h3>
        <div>
            <p>prumpar</p>
        </div>
        <h3>Hvernig nota ég textann sem ég sótti?</h3>
        <div>
            <p>prumpar</p>
        </div>
        <h3>Hvað geri ég ef ég gleymi notendanafninu mínu?</h3>
        <div>
            <p>prumpar</p>
        </div>
        <h3>Hvað geri ég ef ég gleymi lykilorðinu mínu?</h3>
        <div>
            <p>prumpar</p>
        </div>
    </div>

<link href="~/Content/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}