@model IEnumerable<_3viknavinir.Models.Media>
@*_3viknavinir.Models.FrontpageViewModel*@
@{
    ViewBag.Title = "SÍÁT";
}
@*Erla og Grímur*@
<div class="row">
    <div class="col-md-4">
        <table id="homePageTable" class="table-striped">
            <thead>
                <tr class="homePageTableRows">
                    <th>Mest Sótt</th>
                    <th>Nýjustu Textar</th>
                    <th>Vinsælar Beiðnir</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="homePageTableRows">
					    <td>@item.title (@item.yearOfRelease)</td>
					    <td>@item.title (@item.yearOfRelease)</td>
					    <td>Drasl sem fólk diggar í döðlur...</td>
				    </tr>
                }
            </tbody>
        </table>
    </div>
</div>