@{
    ViewBag.Title = "SÍÁT";
}
<div>
    @* Steinunn *@
    <h1>SÍÁT - Skjátextar</h1>
</div>
@*Erla*@
<div class="row">
    <div class="col-md-4">
        <table id="homePageTable" class="table-striped">
            <thead>
                <tr>
                    <th>Mest Sótt</th>
                    <th>Nýjustu Textar</th>
                    <th>Vinsælar Beiðnir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Drasl sem er mest sótt</td>
                    <td>Drasl sem fólk setti inn nýlega</td>
                    <td>Drasl sem fólk diggar í döðlur...</td>
                </tr>
                <tr>
                    <td>Meira drasl sem er mest sótt</td>
                    <td>Meira drasl sem fólk setti inn nýlega</td>
                    <td>Meira drasl sem fólk diggar í döðlur...</td>
                </tr>
                <tr>
                    <td>gúmmelaði</td>
                    <td>erlalalalalala</td>
                    <td>GrímurRímurÍmurMurUrR</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>