@*@model _3viknavinir.Models.IndexViewModel*@
@{
    ViewBag.Title = "SÍÁT";
}
@*Svava*@
<div id="searchBox">
    <p>Mynd/Þáttur</p>
    <form action="search" class="textBox">
	    <input class="searchtext" placeholder="Myndefni..." type="text" />
		<input type="submit" value="Leita" class="btn btn-default" id="searchButton" />
    </form>
</div>

@*Erla og Grímur*@
<div class="row">
    <div class="col-md-4">
        <table id="homePageTable" class="table-striped">
            <thead>
                <tr class="homePageTableRows">
                    <th>Mest Sótt</th>
                    <th>Nýjustu Textar</th>
                    <th>Vinsælar Beiðnir</th>
                </tr>
            </thead>
            <tbody>
                @*@foreach (var item in Model.recentMedia)
                {
                    <tr class="homePageTableRows">
                        <td>@Html.ActionLink(item.title, "Details", "Translation", new { id = item.Id }, null) (@item.yearOfRelease)</td>
                        <td>@Html.ActionLink(item.title, "Details", "Translation", new { id = item.Id }, null) (@item.yearOfRelease)</td>
                        <td>Drasl sem fólk diggar í döðlur...</td>
                    </tr>
                }*@
            </tbody>
        </table>
    </div>
</div>