@model IEnumerable<_3viknavinir.Models.Media>
@*_3viknavinir.Models.FrontpageViewModel*@
@{
    ViewBag.Title = "SÍÁT";
}
@*Erla og Grímur*@
<div class="row">
    <div class="col-md-4">
        <table id="homePageTable" class="table-striped">
            <thead>
                <tr class="homePageTableRows">
                    <th>Mest Sótt</th>
                    <th>Nýjustu Textar</th>
                    <th>Vinsælar Beiðnir</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="homePageTableRows">
					    <td>Drasl sem er mest sótt</td>
					    <td>@item.title (@item.yearOfRelease)</td>
					    <td>Drasl sem fólk diggar í döðlur...</td>
				    </tr>
                }
				<tr class="homePageTableRows">
					<td>Drasl sem er mest sótt</td>
					<td>Drasl sem fólk setti inn nýlega</td>
					<td>Drasl sem fólk diggar í döðlur...</td>
				</tr>
				<tr class="homePageTableRows">
					<td>Meira drasl sem er mest sótt</td>
					<td>Meira drasl sem fólk setti inn nýlega</td>
					<td>Meira drasl sem fólk diggar í döðlur...</td>
				</tr>
				<tr class="homePageTableRows">
					<td>gúmmelaði</td>
					<td>erlalalalalala</td>
					<td>GrímurRímurÍmurMurUrR</td>
				</tr>
            </tbody>
        </table>
    </div>
</div>