
@{
    ViewBag.Title = "Requests";
}
<div class="breadcrumb">
	<ul class="crumbs">
		<li class="crumb crumb-first">
			<a href="/">SÍÁT</a>
		</li>
		<li class="crumb crumb-last">
			<span class="crumb-seperator"> > </span>
			<a href="#">Beiðnir</a>
		</li>
	</ul>
</div>

<h2>Beiðnir</h2>
<div>
	<input type="submit" value="" id="addRequestButton"/>
</div>
<div class="requestTableDiv">
	<table id="RequestTable" class="table-striped">
		<thead>
			<tr class="requestRow">
				<th class="requestName">Nafn</th>
				<th class="requestYear">Ártal</th>
				<th class="requestIMDBID">IMDB ID</th>
				<th class="requestUpvote">Upvote</th>
			</tr>
		</thead>
		<tbody>
			<tr class="requestRow">
				<td class="requestName">American Psyco</td>
				<td class="requestYear">1990</td>
				<td class="requestIMDBID">id1</td>
				<td class="requestUpvote">upvote1</td>
			</tr>
			<tr class="requestRow">
				<td class="requestName">Cellular</td>
				<td class="requestYear">1980</td>
				<td class="requestIMDBID">id2</td>
				<td class="requestUpvote">upvote2</td>
			</tr>
			<tr class="requestRow">
				<td class="requestName">Expendables</td>
				<td class="requestYear">1990</td>
				<td class="requestIMDBID">id3</td>
				<td class="requestUpvote">upvote3</td>
			</tr>
			<tr class="requestRow">
				<td class="requestName">Fight Club</td>
				<td class="requestYear">1970</td>
				<td class="requestIMDBID">id4</td>
				<td class="requestUpvote">upvote4</td>
			</tr>
		</tbody>
	</table>
</div>

