
@{
    ViewBag.Title = "Documentary";
}

<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            <a href="/">SÍÁT</a>
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="/Category/Categories">Flokkar</a>
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="#">Heimildamyndir</a>
        </li>
    </ul>
</div>
<h2>Heimildamyndir</h2>
<div class="alphabetizedTextDiv">
    <table id="AlphabetListTable" class="table-striped">
        <thead>
            <tr class="requestRow">
                <th class="alphabetName">Nafn</th>
                <th class="alphabetYear">Ártal</th>
                <th class="alphabetNumberDonwload">Sótt</th>
                <th class="alphabetUpvote">Upvote</th>
                <th class="alphabettDownload">Niðurhal</th>
            </tr>
        </thead>
        <tbody>
            <tr class="requestRow">
                <td class="alphabetname">American Dream</td>
                <td class="alphabetYear">1952</td>
                <td class="alphabettNumberDownload">10</td>
                <td class="alphabetUpvote">16<a href="#" class="glyphicon glyphicon-thumbs-up" style="left: 35px"></a></td>
                <td class="alphabetDownload"><a href="#" class="glyphicon glyphicon-download" style="left: 35px"></a></td>
            </tr>
            <tr class="requestRow">
                <td class="alphabetname">Cars</td>
                <td class="alphabetYear">2007</td>
                <td class="alphabetNumberDownload">82</td>
                <td class="alphabetUpvote">49<a href="#" class="glyphicon glyphicon-thumbs-up" style="left: 35px"></a></td>
                <td class="alphabetDownload"><a href="#" class="glyphicon glyphicon-download" style="left: 35px"></a></td>
            </tr>
        </tbody>
    </table>
</div>
