@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">404</h1>
<h2 class="text-danger">Síðan fannst ekki, Dabs er voðalega sár</h2>
<iframe src="http://gfycat.com/iframe/HappygoluckyAmusingBunting" frameborder="0" scrolling="no" width="360" height="202"></iframe>

